{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="text-center showcase-list-card">
  <div class="mt-4">
    <p>
      {{ 'No discount yet, create your first discount.'|trans({}, 'Admin.Catalog.Feature') }}
    </p>

    <a title="{{ 'Create discount'|trans({}, 'Admin.Catalog.Feature') }}" class="btn btn-primary pointer ml-1" data-target="#createDiscountModal" data-toggle="modal">
      <i class="material-icons">add_circle_outline</i>
      {{ 'Create discount'|trans({}, 'Admin.Catalog.Feature') }}
    </a>
  </div>
</div>
